#services{
    background:linear-gradient(180deg, #DBEDFF 0%, rgba(219, 237, 255, 0) 100%);
    height:fit-content;
}
#services .container .services_title {
    font-size:48px;
    text-align: center;
    color: #2AAA94;
  }