.card1 {
    max-width: 570px;
    overflow: hidden;
    border-radius: 20px;

    border: 0px 20px !important;
    max-height: 571px !important;
    &img{
        object-fit: contain;
    max-width:25%;
    
    }
    &img:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      transition: box-shadow 0.3s;
    }

    .texts {
      padding: 20px;
      background: #ffff;
      flex-direction: row;

      &_tepa {
        display: flex;
        justify-content: space-between;

        p {
          font-family: Saira-Bold;
          font-size: 14px;
          font-weight: 700;
          letter-spacing: -0.03em;
          text-align: left;
          color: #4e596b;
        }

        h6 {
          font-family: Saira-Bold;
          font-size: 14px;
          font-weight: 500;

          letter-spacing: -0.03em;
          text-align: left;
          color: #4e596b;
        }
      }

      &_uchd {
        margin-top: 30px;

        font-size: 25px;
        font-weight: 700;
        line-height: 35px;
        letter-spacing: -0.03em;
        text-align: left;
        color: #324361;
        max-width: 380px;
      }

      &_pastt {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;

        h5 {
          font-family: Saira-Bold;
          font-size: 22px;
          font-weight: 700;
          line-height: 35px;
          letter-spacing: -0.03em;
          text-align: left;
          color: #4e596b;
        }
        .korzinka {
          transition: box-shadow 0.3s;
        }
        .korzinka:hover {
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
  @media (max-width: 768px){
    .card1 {
    height: auto;
    margin-bottom: 20px;

    .texts {
      flex-direction: column;
      max-width: 512px;

      &__tepa {
        justify-content: space-between;

        p {
          font-size: 12px;
        }

        h6 {
          font-size: 12px;
        }
      }

      &__uchd {
        font-size: 20px;
        line-height: 28px;
        width: 100%;
      }

      &__pastt {
        flex-wrap: wrap;
        justify-content: flex-start;

        h5 {
          font-size: 18px;
          line-height: 28px;
          margin-bottom: 5px;
        }
      }
    }
  }
  }

  @media (max-width: 576px){
    .card1 {
        max-width: 512px !important;
        height: auto;
        margin-bottom: 20px;
        max-width: 300px;
        &img{
            object-fit: contain;
            width: 100%;
            height: 265px;
        }
        .texts {
          flex-direction: column;
          max-width: 360px;

          &_tepa {
            p {
              font-size: 12px;
            }

            h6 {
              font-size: 12px;
            }
          }

          &_uchd {
            font-size: 18px;
          }

          &_pastt {
            flex-wrap: wrap;
            justify-content: space-between;

            h5 {
              font-size: 10px;
              line-height: 18px;
              margin-bottom: 5px;
            }

            .korzinka {
              transform: scale(0.5);
            }
          }
        }
      }
  }
  